{% set item = data['items']['tribal']['products'][0] %}
{% set ticket1 = data['items']['tribal']['ticket1'] %}
{% set ticket2 = data['items']['tribal']['ticket2'] %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Тренинг</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<div class="header__wrap">
			<div class="layout-center-wrapper">
				<div class="header__inner">
					<div class="header__left">
						<p class="header__author">курс Анны Акинцевой</p>
						<h1 class="header__title">Онлайн курс «Трайбл и телесные практики»</h1>
						<p class="header__slogan">Почувствуйте свое тело и обретите гармонию с ним.</p>

						<p class="header__date">{{data["event"]["date"]}}</p>

						<button type="button" class="template-btn" id="headerToPaymentBtn">
							<span>Принять участие</span>
						</button>
						{% if data['admin'] %}
						<!-- EDIT TEMPLATE -->
						<br><br><a href="/manager/info"><button class="template-btn" type="button" id="" onclick="">
								<span>Изменить описание</span>
							</button></a>
						<!-- EDIT TEMPLATE -->
						{% end %}
					</div>
					<div class="header__right">
						<img src="img/header-intro.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<div style="background-image: url(img/header-bg.jpg);" class="header__bg-layout">
		</div>
	</header>

	<main>
		<!-- AUDIENCE -->
		<div class="audience">
			<div class="layout-center-wrapper">
				<h3 class="audience__title training-title">Этот курс для вас если</h3>
				<ul class="audience__list">
					<li class="audience__item">
						<div class="audience__num"><span>1</span></div>
						<p class="audience__text audience__text--bold">Вы хотите лучше понимать своё тело</p>
						<p class="audience__text">На курсе вы глубоко проработаете мышцы и научитесь управлять ими.</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>2</span></div>
						<p class="audience__text audience__text--bold">Вы хотите научиться выражать себя через танец</p>
						<p class="audience__text">Танец – это язык, который понятен богам. С древности люди выражали
							себя именно через танец и это самая естественная форма движения для нас.</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>3</span></div>
						<p class="audience__text audience__text--bold">Вы хотите улучшить свое ежедневное самочувствие
						</p>
						<p class="audience__text">Если в течение дня вы замечаете боль в мышцах, то значит организм
							посылает вам сигналы о том, что пора записаться на наш курс.</p>
					</li>
				</ul>
			</div>
		</div>

		<!-- KNOWLEDGE -->
		<div class="knowledge">
			<div class="layout-center-wrapper">
				<h3 class="knowledge__title training-title">На курсе мы:</h3>
				<div class="knowledge__inner">
					<ul class="knowledge__list">
						<li class="knowledge__item">
							<div class="knowledge__num"><span>1</span></div>
							<p class="knowledge__text">Раскрепостим область таза. Позволим ему двигаться легко и
								свободно. Укрепим женское здоровье!</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>2</span></div>
							<p class="knowledge__text">Мягко снимем застарелые зажимы с мышц спины, создадим королевскую
								осанку, освободим мышцы для естественного свободного дыхания.</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>3</span></div>
							<p class="knowledge__text">Значительно укрепим мышцы живота, научимся осознанно управлять
								ими!</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>4</span></div>
							<p class="knowledge__text">Освоим танцевальные движения восхитительного танца Трайбл. И
								узнаем, как с его помощью можно укреплять здоровье и регулировать своё
								психо-эмоциональное состояние!</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>5</span></div>
							<p class="knowledge__text">Научимся переносить танцевальную практику в повседневность, чтобы
								всегда быть в прекрасном жизненном тонусе, заряжаться энергией и отличным настроением и
								делиться этим с окружающими!</p>
						</li>
					</ul>
					<div class="knowledge__img-wrap">
						<img src="img/about.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- MIDDLE TITLE -->
		<div class="middle-title">
			<div class="layout-center-wrapper">
				<div class="middle-title__inner">
					<div>
						<h1 class="middle-title__text">Онлайн курс «Трайбл и телесные практики»</h1>
					</div>

					<button type="button" class="template-btn" id="middleToPaymentBtn">
						<span>Принять участие</span>
					</button>
				</div>
			</div>
		</div>

		<!-- VIDEO BLOCK -->
		<div class="video-block">
			<div class="layout-center-wrapper">
				<div class="video-block__inner">
					<div class="video-block__left">
						<h3 class="video-block__title">специально для вас мы записали видео о&nbsp;курсе</h3>
						<p class="video-block__text">В нем мы расскажем о том, как проходит курс, о его особенностях и
							преимуществах</p>
					</div>
					<div class="video-block__right">
						<iframe class="video-block__frame" src="video/shtoda.mp4" frameborder="0"
							allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
		</div>

		<!-- CAUCH BLOCK -->
		<div class="coach-block">
			<div class="layout-center-wrapper">
				<h3 class="coach-block__title">Автор и руководитель курса</h3>
				<div class="coach-block__inner">
					<div class="coach-block__img-wrap">
						<img src="img/author.png" alt="">
					</div>
					<div class="coach-block__desc-wrap">
						<span class="coach-block__name">Анна Акинцева </span>
						<p class="coach-block__text">Профессионально занимается трайблом с 2009 года</p>
						<p class="coach-block__text">Руководитель одной из первых трайбл-студий в Самаре</p>
						<p class="coach-block__text">Организатор трайбл-фестивалей, концертов и вечеринок, а также
							мастер-классов с трайбл-звездами из России и зарубежья</p>
						<p class="coach-block__text">Автор онлайн-курсов и тренингов, посвященных улучшению телесной
							компетенции через танцевальные практики</p>
						<p class="coach-block__text">Сертифицированный йога-тренер</p>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- FOOTER -->
	<footer class="footer" style="background-image: url(img/header-bg.jpg);">
		<div class="layout-center-wrapper">
			<div class="footer__inner">
				<div class="footer__tarif-wrap">
					<ul class="footer__list">
						<li class="footer__item">
							<span class="footer__marker"></span>
							<div class="footer__inner-list">
								<p class="footer__text">Семь тематических модулей:</p>
								<p class="footer__text footer__text--small">Таз (раскрепощение, стабилизация, укрепление)</p>
								<p class="footer__text footer__text--small"> Грудной отдел (раскрепощение, увеличение подвижности, укрепление</p>
								<p class="footer__text footer__text--small">Волны телом (детальный разбор мышц)</p>
								<p class="footer__text footer__text--small">Руки ("От взмаха крыла бабочки до Snake Arms")</p>
								<p class="footer__text footer__text--small">Belly Roll (детальный разбор мышц живота)</p>
								<p class="footer__text footer__text--small">Танцевальная связка быстрая</p>
								<p class="footer__text footer__text--small">Танцевальная связка медленная</p>
							</div>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Обратная связь с участниками в течении курса</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Доступ к рабочей группе, общение с участниками курса</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Доступ к материалам курса в течение года!</p>
						</li>
					</ul>

					<h4 class="footer__list-title">Тариф «Один модуль»</h4>
					<ul class="footer__list">
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Любой модуль курса по фиксированной цене.</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Вы сразу получаете все уроки модуля и можете проходить их в удобном
								темпе.</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Каждый урок посвящен одной теме, чтобы вам было удобно постигать
								материал модуля.</p>
						</li>
					</ul>

					<h4 class="footer__list-title">Тариф «Весь курс»</h4>
					<ul class="footer__list">
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">7 модулей курса: "Трайбл и телесные практики".</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Стоимость одного модуля примерно 2800 руб.</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Вы получаете доступ ко всем модулям и можете проходить их в удобном
								для себя ритме.</p>
						</li>
					</ul>
				</div>
				<!-- PAYMENT BLOCK -->
				<div class="payment" id="paymentBlock">
					<div class="payment__header">
						<span class="payment__text">Стоимость тарифа «Один модуль»</span>
						<span class="payment__amount">{{ticket1['price']}} ₽</span>
					</div>

					{% if lead_promo %}
					<div class="payment__inner">
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="cardBtn1">
								<span>Оплатить картой</span>
							</button>

							<img src="img/visa-logo.svg" alt="visa">
						</div>
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="ntzdBtn1">
								<span>Оплатить в ntz</span>
							</button>
							<img src="img/ntz-logo.svg" alt="visa">
						</div>
					</div>

					<div class="payment__header">
						<span class="payment__text">Стоимость тарифа «Весь курс»</span>
						<span class="payment__amount">{{ticket2['price']}} ₽</span>
					</div>

					<div class="payment__inner">
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="cardBtn2">
								<span>Оплатить картой</span>
							</button>

							<img src="img/visa-logo.svg" alt="visa">
						</div>
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="ntzdBtn2">
								<span>Оплатить в ntz</span>
							</button>
							<img src="img/ntz-logo.svg" alt="visa">
						</div>
					</div>

					{% else %}
					<div class="non-ref">
						<p class="non-ref__text">Для совершения покупки Вам необходима реферальная ссылка. Для её
							получения обратитесь к тому, кто Вам посоветовал этот товар или найдите ссылку в инстаграме
							по хештегу
							<a href="https://www.instagram.com/explore/tags/netizensteam/">#netizensteam</a>
						</p>
					</div>
					{% end %}
				</div>
			</div>
		</div>

		<!-- GOODS BLOCK ! IMPORTANT-->

		<input type="hidden" name="item_number" id="{{ticket1['code']}}" class="items_quantity" value=1 min=1 disabled
			data-price="{{ticket1['price']}}" data-old_price="{{ticket1['old_price']}}" data-name="{{ticket1['name']}}"
			data-image="{{ticket1['image']}}">

		<input type="hidden" name="item_number" id="{{ticket2['code']}}" class="items_quantity2" value=1 min=1 disabled
			data-price="{{ticket2['price']}}" data-old_price="{{ticket2['old_price']}}" data-name="{{ticket2['name']}}"
			data-image="{{ticket2['image']}}">

		<!-- GOODS BLOCK ! IMPORTANT-->

		<!-- POLICY BLOCK -->
		<div class="footer__policy">
			<div class="layout-center-wrapper">
				<div class="footer__policy-inner">
					<span class="footer__policy-left">&copy; Official partner of the Netizens ecosystem</span>
					<div class="footer__policy-right">
						<a href="docs/политика конфиденциальности.pdf" class="footer__link" download="">Политика
							конфиденциальности</a>
					</div>
				</div>
			</div>
		</div>

		<div class="form__overlay" id="formOverlay"></div>
		<div class="form__overlay" id="formOverlay2"></div>

		<!-- RUR FORM -->
		<div class="form__wrap" id="paymentFormRUR">
			<form action="#" class="form">
				<span class="form__close-btn" id="closeRurForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userNameFormRUR">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhoneFormRUR">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmailFormRUR">

					<button id="send_rur" class="form__btn template-btn noselect" type="button"
						onclick="addOrder('FormRUR')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>
				</div>
			</form>
		</div>

		<!-- NTZ FORM -->
		<div class="form__wrap" id="paymentFormNTZ">
			<form action="#" class="form">
				<span class="form__close-btn" id="closeNTZForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="login" value="{{lead_login}}" type="text" placeholder="Ваш логин в ntz.team" required
						class="form__field" id="userLoginFormNTZ">

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userNameFormNTZ">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhoneFormNTZ">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmailFormNTZ">

					<button id="send_ntz" class="form__btn template-btn noselect" type="button"
						onclick="addOrder('FormNTZ')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>

					{% if lead_promo %}
					<span class="form__control">Контрольное слово: {{lead_promo}}</span>
					{% end %}
				</div>
			</form>
		</div>


		<!-- RUR FORM -->
		<div class="form__wrap" id="payment2FormRUR">
			<form action="#" class="form">
				<span class="form__close-btn" id="close2RurForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userName2FormRUR">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhone2FormRUR">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmail2FormRUR">

					<button id="send_rur2" class="form__btn template-btn noselect" type="button"
						onclick="addOrder2('FormRUR')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>
				</div>
			</form>
		</div>

		<!-- NTZ FORM -->
		<div class="form__wrap" id="payment2FormNTZ">
			<form action="#" class="form">
				<span class="form__close-btn" id="close2NTZForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="login" value="{{lead_login}}" type="text" placeholder="Ваш логин в ntz.team" required
						class="form__field" id="userLogin2FormNTZ">

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userName2FormNTZ">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhone2FormNTZ">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmail2FormNTZ">

					<button id="send_ntz2" class="form__btn template-btn noselect" type="button"
						onclick="addOrder2('FormNTZ')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>

					{% if lead_promo %}
					<span class="form__control">Контрольное слово: {{lead_promo}}</span>
					{% end %}
				</div>
			</form>
		</div>

	</footer>
	<script src="js/jquery.min.js"></script>
	<script src="js/base.js"></script>
	<script src="js/api.js"></script>

</body>

</html>